{% extends "encyclopedia/layout.html" %}
{% load markdown_extras %}

{% block title %}
    {{ title }} entry
{% endblock %}

{% block body %}
    <h1>{{ title }} entry</h1>

    <div>
        <h2>Entry to edit: {{ title }}</h2>
         <form style="display: flex; flex-direction: column;" action="{% url 'entries:edit' title=title %}" method="post">
            {% csrf_token %}
            {{ entry_form }}
            <button style="width: fit-content;" type="submit">Submit</button>
        </form> 
    </div>

{% endblock %}