{% extends "encyclopedia/layout.html" %}
{% load markdown_extras %}

{% block title %}
    {{ title }} entry
{% endblock %}

{% block body %}
    <h1>{{ title }} entry</h1>

    <div>
        <h2>Entry to edit</h2>
        <article style="margin: 20px 0px;">
            {{ entry | markdown | safe }}
        </article>
        <form action="{% url 'entries:edit' title=title %}" method="post">
            {{ entry_form }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}